%% -*- erlang -*-

{erl_opts, [
            debug_info,
            warnings_as_errors,
            warn_export_all
]}.

{port_specs, [
              {"unix",   "priv/emdb_drv.so",  ["c_src/*.c"]},
              {"linux",  "priv/emdb_drv.so",  ["c_src/*.c"]},
              {"darwin", "priv/emdb_drv.so",  ["c_src/*.c"]},
              {"win32",  "priv/emdb_drv.dll", ["c_src/*.c"]}
             ]}.

{port_env, [
    {".*", "CFLAGS", "-O2 -Wall"}
]}.
